@model IEnumerable<Clase5_proyecto.DTOs.MisionEmergenciaDto>

<link rel="stylesheet" type="text/css" href="~/css/MisionEmergencia/styles.css" />

<div class="table-container">
    <h2>Lista de Misiones de Emergencia</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tipo de Misión</th>
                <th>Fecha</th>                
                <th>Duración de la Misión (en días)</th>
                <th>Destino</th>
                @* <th>AeronaveId</th>
                <th>PilotoId</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var mision in Model)
            {
                <tr>
                    <td>@mision.Id</td>
                    <td>@mision.TipoMision</td>
                    <td>@mision.date</td>
                    <td>@mision.Duracion</td>
                    <td>@mision.Destino</td>
                    @* <td>@mision.Aeronave</td>
                    <td>@mision.Piloto</td> *@
                </tr>
            }
        </tbody>
    </table>
</div>
